/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(
    200deg,
    #0c1a2b,
    #0e2238,
    #102a43,
    #142e4f,
    #1a3760,
    #1e3c72,
    #224479,
    #275083,
    #2a5298,
    #275083,
    #224479,
    #1e3c72,
    #1a3760,
    #142e4f,
    #102a43,
    #0e2238,
    #0c1a2b
  );

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
