/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(
    200deg,
    #02040a,
    #03060e,
    #040812,
    #060d17,
    #07121f,
    #0a1628,
    #0e1d34,
    #112240,
    #132648,
    #162d54,
    #19305d,
    #162d54,
    #132648,
    #112240,
    #0e1d34,
    #0a1628,
    #07121f,
    #060d17,
    #040812,
    #03060e,
    #02040a
  );

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
