<div id="flash-messages" class="fixed top-0 left-1/2 transform -translate-x-1/2 mt-4 z-50" data-controller="flash">
  <% flash.each do |key, message| %>
    <div class="flash <%= flash_class(key) %>">
      <%= simple_format(message) %>
    </div>
  <% end %>
</div>